
._z4_{
	font-family: 'Roboto, Arial, sans-serif'!important;;
}
._673w{
	    background-color: #272727!important;;
}
._o46 ._3058{
	color: #f8f9fa!important;;
}
._1t2u{
	    background-color: #121212!important;;
}
._2il3._6zka{
	background-color: #1c1c1c!important;;
	
}
._3oh-{
	color: #f8f9fa!important;;
	
}
._2v6o, ._5eu7, ._6krh{
	color: #d9d9d9!important;;
}
	
#cch_f3e276821b5eca8 ._43by._43by {
    background-color: rgb(68, 190, 199)!important;;
}
._5irm._7mkm{
	background-color: #121212!important;;
}
._7kpk{
	background-color: #333333!important;;
}
._1lj0._6ybm{
	color: #f8f9fa!important;;
}
._3szq{
	color: #f8f9fa!important;;
}
._3tkv{
	background-color: #1c1c1c!important;;
}
._6-xk {
	background-color: #1c1c1c!important;;
}
.__6g ._6-xo{
	color: #f8f9fa!important;;
}
._2agf{
	filter: invert(100);
}
._6-xp{
	filter: invert(100);
}
._1ht6{
	color: #f8f9fa!important;;
}
._5iwm._6-_b ._58al{
	background-color: #333333!important;
	color: black;
}
._5iwm._6-_b{
	background-color: #1c1c1c!important;;
}
._364g, ._3q34, ._3q35{
	color: #f8f9fa!important;;
	font-family: ''!important;;
}
._225b._6ybl{
	color: #f8f9fa!important;;
}
._4sp8{
	background-color: #1c1c1c!important;;
}
_33p7 {
	    background-color: #1c1e21!important;;
}
._5iwm ._58al{
	background-color: #333333!important;;
	color: #8c8d8f!important;
	font-family: ''!important;;    
}
._2c9g{
	background-color: #1c1e21!important;;
	font-family: '';
}
._2c1u ._2c9g ._4ebz{
	color: #f8f9fa!important;;
}
._2c1u ._-bo{
	color: #ccc!important;;
}
._5iwm._6-_b ._58al{
	font-family: ''!important;;
}
._364g{
	color: #f8f9fa!important;;
}
._33p7{
	    background-color: #1c1e21!important;;
}
._2c9i ._4ebz {
	    background-color: #1c1e21!important;;
}
._4ebz ._2t_, ._4ebz ._2u0, ._4ebz ._19jt!important;{
	color: #f8f9fa;
}
._4h9n ._44kr{
	background-color: #18191bf5!important;;
}
._6ybv{
	filter: invert(100);
}
._29_7:last-of-type ._3058._52mr:last-of-type, ._29_7:last-of-type ._3058._52mr:last-of-type ._4br2, ._29_7:last-of-type ._3058:last-of-type ._52mr, ._29_7:last-of-type ._3058:last-of-type ._52mr ._4br2{
	background-color: #333333;
}
._29_7:first-of-type ._3058._52mr:first-of-type, ._29_7:first-of-type ._3058._52mr:first-of-type ._mxz, ._29_7:first-of-type ._3058:first-of-type ._52mr, ._29_7:first-of-type ._3058:first-of-type ._52mr ._mxz{
	background-color: #333333!important;;
}
._3058._15gf{
	background-color: #121212!important;;
}
._3058._ui9._hh7._6ybn._s1-._52mr._43by._6ybp._3oh-{
	background-color: red;
}
._29_7 ._3058._15gf ._2poz{
	background-color: #121212;
}
._58al._7tpc{
	color: #f8f9fa;
}
._3058._ui9._hh7._6ybn._s1-._52mr._3oh-{
	background-color: #333333;
}
._3eur._6ybk a{
	color: #f8f9fa!important;;
}
._6y56{
	filter: invert(100);
}
._7ht_{
	color: #e9ebee!important;;
}
._7hty{
    filter: invert(100);
}
._7hu1{
    filter: invert(100);
}
._7hu0{
    filter: invert(100);
}
._17pz{
	background-color: #121212!important;;
}
._6ybz{
    filter: invert(100);
}
._6y56{
	background-color: #f2f3f5!important;
}
._4ebz ._2t_, ._4ebz ._2u0, ._4ebz ._19jt{
	color: #f8f9fa!important;
}
._59s7{
	background-color: #fff0!important;
}
._5iwm._6-_b~._2xme{
	background-color: #ffe4c400!important;
}
._2u_d._7i2j ._7iov{
	filter: invert(100);
}
._67tu{
	color: #f8f9fa!important;
}
._67tw{
	color: #e9ebee!important;
}

._2u_d._7i2j :nth-child(2){
	filter: invert(100%);
}
._2rvp._7i2l{
	filter: invert(100%);
}
._5zvq._7i2o{
	filter: invert(100%);
}
._2y8y._6zw0{
	background-color: rgb(204, 204, 204)
	filter: invert(100%);
}
._8102:active, ._8102._4-0i, ._8102{
	filter: invert(100);
}
._3eus._6_mz {
	color: #e9ebee!important;
}
._1ht7._6zkh{
	color: #aaaaaa!important;
}

._1ht3 ._1htf{
	color: #ffc107!important;
}
._1ht3 ._1ht7._6zkh{
	color: #ffc107!important;
}
._1ht1._1ht2 ._6zkc{
	background-color: #333333!important;
}
.sp_sbxFxdCZjuj.sx_d60ced{
	filter: invert(100);
}
._5iwm._6-_b~._2xme{
	filter: invert(100);
}

._5iwm._6-_b ._58ak::before{
	filter: brightness(10);
}
._5iwm._6-_b ._58al::placeholder {
	color: #cccccc!important;
}
._61ag{
	color: yellow!important;
}
._hh7 a {
	color: #f8f9fa!important;
}
._4ik5._4ik4 {
	color: #0084ff!important;
}
._5i_d .__6m{
	    color: #28a745!important;
}
._29_7 ._3058._15gf ._2poz{
	background-color: #333333!important;
}
._29_7 ._3058._15gf ._2poz {
	    background-color: #121212!important;
}
._1ht3 ._1ht6, ._1ht3 ._1htf{
	font-weight: 100!important;
}
._2wy4{
    background-color: #0099ff;
        color: rgb(248, 249, 250)!important;
}
._339m ._61ns{
	    filter: invert(1);
}
._2c9g{
	 background-color: #ffffff!important;
}
._74ku{
	color: #f8f9fa!important;
}
._2ogt._6yb-{
	color: #f8f9fa!important;
}
._1ht1:hover a{
	color: #f8f9fa!important;
}
._ih3{
	    color: #17a2b8!important;
}

._1n-e{
	color: #dddfe2!important;
}
._3cng, ._3cnn{
	color: white!important;
	    font-weight: normal;
}
._3cnl, ._3cnn a, ._3cnj{
	    color: #959595!important;
}
._7lgy{
	    color: rgba(255, 255, 255, 0.4);
}
._205d ._3cne{
	background-color: #333333!important;
	padding: 12px 12px 0 12px!important;

	    
}
._205d ._3cnp{
	color: #ffffff!important;	
	    border-bottom-right-radius: 1.3em!important;
	        border-bottom-left-radius: 1.3em!important;
	background-color: #5c5c5c!important;	        
}
