._z4_{
	font-family: ''!important;;
}
._673w{
	    background-color: #272727!important;;
}
._o46 ._3058{
	color: white!important;;
}
._1t2u{
	    background-color: #121212!important;;
}
._2il3._6zka{
	background-color: #1c1c1c!important;;
	
}
._3oh-{
	color: white!important;;
	
}
._2v6o, ._5eu7, ._6krh{
	color: #d9d9d9!important;;
}
	
#cch_f3e276821b5eca8 ._43by._43by {
    background-color: rgb(68, 190, 199)!important;;
}
._5irm._7mkm{
	background-color: #1c1c1c!important;;
}
._7kpk{
	background-color: #333333!important;;
}
._1lj0._6ybm{
	color: white!important;;
}
._3szq{
	color: white!important;;
}
._3tkv{
	background-color: #1c1c1c!important;;
}
._6-xk {
	background-color: #272727!important;;
}
.__6g ._6-xo{
	color: white!important;;
}
._2agf{
	filter: invert(100);
}
._6-xp{
	filter: invert(100);
}
._1ht6{
	color: white!important;;
}
._5iwm._6-_b ._58al{
	background-color: #e9ebee!important;;
	color: black;
}
._5iwm._6-_b{
	background-color: #1c1c1c!important;;
}
._364g, ._3q34, ._3q35{
	color: white!important;;
	font-family: ''!important;;
}
._225b._6ybl{
	color: white!important;;
}
._4sp8{
	background-color: #000000!important;;
}
_33p7 {
	    background-color: #1c1e21!important;;
}
._5iwm ._58al{
	background-color: #333333!important;;
	color: #8c8d8f!important;
	font-family: ''!important;;    
}
._2c9g{
	background-color: #1c1e21!important;;
	font-family: '';
}
._2c1u ._2c9g ._4ebz{
	color: white!important;;
}
._2c1u ._-bo{
	color: #ccc!important;;
}
._5iwm._6-_b ._58al{
	font-family: ''!important;;
}
._364g{
	color: white!important;;
}
._33p7{
	    background-color: #1c1e21!important;;
}
._2c9i ._4ebz {
	    background-color: #1c1e21!important;;
}
._4ebz ._2t_, ._4ebz ._2u0, ._4ebz ._19jt!important;{
	color: white;
}
._4h9n ._44kr{
	background-color: #18191bf5!important;;
}
._6ybv{
	filter: invert(100);
}
._29_7:last-of-type ._3058._52mr:last-of-type, ._29_7:last-of-type ._3058._52mr:last-of-type ._4br2, ._29_7:last-of-type ._3058:last-of-type ._52mr, ._29_7:last-of-type ._3058:last-of-type ._52mr ._4br2{
	background-color: #333333;
}
._29_7:first-of-type ._3058._52mr:first-of-type, ._29_7:first-of-type ._3058._52mr:first-of-type ._mxz, ._29_7:first-of-type ._3058:first-of-type ._52mr, ._29_7:first-of-type ._3058:first-of-type ._52mr ._mxz{
	background-color: #333333!important;;
}
._3058._15gf{
	background-color: #121212!important;;
}
._3058._ui9._hh7._6ybn._s1-._52mr._43by._6ybp._3oh-{
	background-color: red;
}
._29_7 ._3058._15gf ._2poz{
	background-color: #121212;
}
._58al._7tpc{
	color: white;
}
._3058._ui9._hh7._6ybn._s1-._52mr._3oh-{
	background-color: #333333;
}
._3eur._6ybk a{
	color: white!important;;
}
._6y56{
	filter: invert(100);
}
._7ht_{
	color: #e9ebee!important;;
}
._7hty{
    filter: invert(100);
}
._7hu1{
    filter: invert(100);
}
._7hu0{
    filter: invert(100);
}
._17pz{
	background-color: #000000!important;;
}
._6ybz{
    filter: invert(100);
}
._6y56{
	background-color: #f2f3f5!important;
}
._4ebz ._2t_, ._4ebz ._2u0, ._4ebz ._19jt{
	color: white!important;
}
._59s7{
	background-color: #fff0!important;
}
._5iwm._6-_b~._2xme{
	background-color: #ffe4c400!important;
}
._2u_d._7i2j ._7iov{
	filter: invert(100);
}
._67tu{
	color: white!important;
}
._67tw{
	color: #e9ebee!important;
}

._2u_d._7i2j :nth-child(2){
	filter: invert(100%);
}
._2rvp._7i2l{
	filter: invert(100%);
}
._5zvq._7i2o{
	filter: invert(100%);
}
._2y8y._6zw0{
	background-color: rgb(204, 204, 204)
	filter: invert(100%);
}
._8102:active, ._8102._4-0i, ._8102{
	filter: invert(100);
}
._3eus._6_mz {
	color: #e9ebee;
}
._1ht7._6zkh{
	color: #aaaaaa;
}